<!DOCTYPE html>
<html class="{{ %default_theme% }}">

<head>
    <title>{{ $title$ }}</title>
    <link href="./output.css" rel="stylesheet">
    {{ %favicon_trash% }}
</head>

<body class="{{ %body_classes% }}">
    <div class="{{ %tw_classes_push_footer% }}">
        <header>
            {{ %navbar% }}
        </header>
        {{ %main_opening% }}
        {{ $content$ }}
        <div class="pb-10">
        </div>
        {{ %main_closing% }}

        {{ %footer% }}
    </div>
</body>

</html>
