<!DOCTYPE html>
<html class="{{ %default_theme% }}" id="html">

<head>
    <title>{{ $title$ }}</title>
    <link href="./output.css" rel="stylesheet">
    {{ %favicon_trash% }}
    {{ %code_highlighting% }}
    {{ %mathjax% }}
</head>

<body class="{{ %body_classes% }}">
    <div class=" {{ %tw_classes_push_footer% }}">
        <header>
            {{ %navbar% }}
        </header>
        <div class="flex flex-row">
            <div class="flex-1"></div>
            <div class="">
                {{ %main_opening% }}
                {{ $content$ }}
                <div class="pb-10">
                </div>
                {{ %main_closing% }}
            </div>

            <div class="flex-1">
                <div class="
            xl:block hidden w-fit border rounded-md bg-l-bg-secondary
            dark:bg-d-bg-secondary h-fit m-4 px-2 py-4 sticky top-20
            right-[2%] text-xs">
                    <h1 class="text-lg">Table of contents:</h1><br>
                    <ul class="list-disc list-inside flex flex-col gap-1">
                        {{ $outline$ }}
                    </ul>
                </div>
            </div>
        </div>
        {{ %footer% }}
    </div>
</body>

</html>

</html>
